* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
body {
  margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

header {
  background: no-repeat center/cover url("assets/back.jpg");
  height: calc(100vh - 150px);
  padding-top: 15px;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}
header nav p {
  font-weight: 600;
}

header h1 {
  font-size: 4rem;
  font-weight: 600;
}
header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

button {
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  color: white;
  background: #762a2e;
}

button:hover {
  background: #a33a3f;
}

.header-content {
  color: white;
  max-width: 600px;
  margin: 150px auto;
  text-align: center;
}

.header-content p {
  font-weight: 400;
  font-size: 25px;
}

.pacotes {
  background: #eee9ec;
  padding: 15px;
}

.pacotes .pacotes-title {
  margin: 25px 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.pacotes .pacotes-cards {
  display: flex;
  margin: auto;
  max-width: 950px;
  flex-wrap: wrap;
  justify-content: center;
}

.pacotes .card {
  width: 250px;
  height: 350px;
  background: white;
  border-radius: 24px 0px;
  margin: 25px;
  position: relative;
}

.pacotes .card-image {
  width: 250px;
  height: 200px;
  border-radius: 24px 0px 0px 0px;
  object-fit: cover;
}

.pacotes .card-content {
  padding: 0px 15px;
}

.pacotes .card-content h1 {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
}

.pacotes .card-content li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.pacotes .card-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
}

.pacotes .card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: gray;
  font-weight: 600;
}

.pacotes .card .card-tag-top {
  position: absolute;
  right: 0;
  top: 15px;
  background: #f19839;
  border-radius: 8px 0px 0px 8px;
  padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: #762a2e;
  border-radius: 0px 8px 8px 0px;
  padding: 5px 10px;
}

.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  color: white;
  font-weight: 600;
}

.servicos {
  padding: 15px;
}

.servicos .card {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.servicos .card h2 {
  font-weight: 600;
}

.servicos .card p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

.servicos .card svg {
  width: 60px;
  height: 60px;
  margin: 50px;
  cursor: pointer;
  transition: all 1s;
}

.servicos .card svg:hover {
  stroke: #f19839;
  transform: scale(1.1);
}

.servicos .servicos-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 35px 0;
}

.servicos .servicos-cards {
  padding-top: 25px;
  display: flex;
  max-width: 950px;
  justify-content: center;
  flex-wrap: wrap;
  margin:  40px auto;
}

.servicos .card-content {
  height: 180px;
}

.servicos button {
  margin-top: 15px;
  background: #f19839;
}

.contato {
  padding: 60px;
  background: #eee9ec;
  position: relative;
}

.contato .contato-card {
  width: 350px;
  height: 300px;
  background: white;
  position: absolute;
  z-index: 98;
  border-radius: 8px;

  top: calc(50% - 150px);
  left: calc(20% - 175px);

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}

.contato .contato-card li{
    font-size: .8rem;
    font-weight:600;
    color: gray;

    display: flex;
    align-items: center;
}

.contato .contato-card li svg{
    width: 16px;
    margin: 10px;
}

.contato .contato-card h1{
    font-weight: 600;
    padding-left: 50px;
    text-align: left;
}

/*MAP*/
#map {
  height: 400px;
  width: 100%;
}

/* Back to top */
.back-to-top {
    visibility: hidden;
    background-color: #762a2e;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    position: fixed;
    bottom: 65px;
    right: 35px;
    z-index: 90;
    cursor: pointer;
    border-radius: 1px;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transition: all .6s;
    border-radius: 50px;
  }

  .back-to-top .seta{
      position:relative;
      align-items: center;
  }
  
  
  .back-to-top:hover {
    background-color: #f19839;
    opacity: 1
  }
  
  .back-to-top.show {
    visibility: visible;
    bottom: 35px;
    opacity: 1;
  }

  /*Scroll bar*/
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #762a2e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f19839;
  }

/*RESPONSIVE*/
/* MAPA */
@media (max-width: 950px) {
    
.contato {
    padding: 60px 0;
  }
  .contato .contato-card {
      left: 40px;
  }
}

@media (max-width: 800px) {
    .contato{
        padding: 20px 0;
    }
  
    .contato .contato-card{
      position: static;
      margin: 40px auto;
  }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    margin-bottom: 55px;
  }
  header nav ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 0;

    z-index: 99;

    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;

    margin: 0;

    background: #f19839;
    color: white;
    font-weight: 600;
  }
  header nav p {
    width: 100%;
    text-align: center;
  }
  .back-to-top {
    position: -ms-page;
    bottom:120px;
    right: 15px;
  }

  
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}
